<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
	  autoShutdown="true"
	  throwExceptions="true" 
      internalLogLevel="Info"
      internalLogFile="c:\logs\mtrelay\mt-changelog-internal.log" >

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets name="wrapper" async="true" >
		
		<!-- console target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
		<target xsi:type="ColoredConsole"
				name="lifetimeConsole"
				useDefaultRowHighlightingRules="true"
				layout="${longdate}|${threadId}|${level:uppercase=true}|${logger}|${message}${onexception:${newline}${exception:format=toString}}" />
		
		<!-- file target for all log messages with basic details -->
		<target xsi:type="File" 
				name="logFile"
				encoding="utf-8"
				maxArchiveFiles="5"
				archiveAboveSize="1000000" 
				fileName="c:\logs\mtrelay\mt-changelog-${shortdate}.log"
				layout="${longdate}|${threadId}|${level:uppercase=true}|${logger}|${message}${onexception:${newline}${exception:format=toString}}" />	
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minLevel="Trace" writeTo="logFile" />
		<logger name="*" minlevel="Trace" writeTo="lifetimeConsole" />
		<logger name="System.*" maxlevel="Info" final="true" />
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
	</rules>
</nlog>